/* frontend/src/FriendCard.css */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 中央配置用の全体コンテナ */
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* 画面全体の高さを占める */
  background-color: #ffffff; /* 背景色を設定 */
  padding: 20px;
}

/* セクションの配置とスタイリング */
.section {
  max-width: 600px; /* 各セクションの幅を適度に制限 */
  width: 100%;
  margin-bottom: 20px; /* 下に余白を設ける */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* 影を追加 */
}

.friend-card {
  border: 2px solid #4CAF50; /* 緑の縁取り */
  border-radius: 10px; /* 角を丸くする */
  padding: 20px;
  width: 400px;
  background-color: white; /* 背景色を白に設定 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 影を追加 */
  position: fixed; /* 固定表示 */
  top: 50%; /* 中央に配置 */
  left: 50%;
  transform: translate(10%, -50%); /* 画面の中央に正確に配置 */
  z-index: 100; /* 他の要素の上に表示 */
}

.friend-image {
  max-width: 100%; /* 親要素の幅に合わせて最大幅を設定 */
  height: auto; /* 高さは自動で調整して縦横比を維持 */
  border-radius: 10px; /* 角を丸くする */
  margin-bottom: 10px; /* 下に余白を追加 */
}

.friend-name {
  font-size: 24px; /* 名前のサイズを大きく */
  margin-bottom: 10px;
}

table {
  width: 90%;
  border-collapse: collapse; /* ボーダーの重なりを解消 */
}

td {
  padding: 8px;
  border-bottom: 1px solid #ddd; /* セルの下にボーダー */
}

button {
  background-color: #4CAF50; /* ボタンの色 */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px; /* 角を丸くする */
  cursor: pointer;
  margin-top: 1em; /* ボタンの上に1行分の余白を追加 */
}

button:hover {
  background-color: #45a049; /* ホバー時の色 */
}
